/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  border:none; outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}
:root{
  --gradient:linear-gradient(90deg, #2c2815, #11a094);
}
*::selection{
  background:#03271e;
  color:#fff;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar{
  width:1.5rem;
}
html::-webkit-scrollbar-track{
  background:#333;
}
html::-webkit-scrollbar-thumb{
  background:linear-gradient(#0a677e, #01171b);
}
body{
  background-color: #c0eefa;
}
.btn{
  padding:.7rem 3rem;
  font-size: 2rem;
  color:#fff;
  background:var(--gradient);
  border-radius: 5rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.btn::before{
  content: '';
  position: absolute;
  top:-1rem; left:-100%;
  background:#fff9;
  height:150%;
  width:10%;
  transform: rotate(25deg);
  z-index: -1;
}
.btn:hover::before{
  transition: .3s linear;
  left: 120%;
}
/*----------navebaar STYLING start-----------*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: rgb(9, 95, 121);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
  }
  .navbar .logo a{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    }
  nav .navbar .links li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: rgb(9, 95, 121);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar .links li .htmlCss-more-sub-menu{
    line-height: 40px; 
  }
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }
  /*-----NAVBAAR STYLING END-----*/
  #game{
    display: flex;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 3rem;
    padding-top: 100px;
    width:100%;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #game h2{
    color:black;
    font-size: 3.3rem;
    letter-spacing:1px;
  }
  /* course section start here */
  #course-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
  }
  #course-inner h3{
    padding: 35px 0 25px 0;
    font-size: 3.3rem;
  }
  #course-inner p{
    color: black;
    font-size: 15px;
  }
  #course-inner hr{
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 40px;
  }
  #course-inner .overview{
    width: 70%;
  }
  #course-inner .overview .course-img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 20px;
  }
  #course-inner .overview .course-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  #course-inner .overview .course-head .c-name{
    width: 70%;
  }
  #course-inner .overview .course-head .c-name h2{
    color: black;
  }
  #course-inner .overview .course-head .c-name .star{
    margin: 6px 0;

  }
  #course-inner .overview .course-head .c-name .star i{
    color:rgb(9, 95, 121);
    font-size: 0.9rem;
  }
  #course-inner .overview .course-head .c-name p{
    font-size:15px ;
  }
  #course-inner .learn p{
    font-size: 15px;
    padding-bottom: 15px;
  }
  #course-inner .learn i{
    color: rgb(9, 95, 121);
    font-weight: 700;
    margin-right: 20px;
  }
  #course-inner .tutor{
    display: flex;
  }
  #course-inner .tutor img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
  }
  #course-inner .tutor h5{
    font-size: 15px;
    padding-top: 20px;
  }
  #course-inner .enroll{
    width: 350px;
    padding: 0 30px 30px 30px;
    border-radius: 20px;
    box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8% );
  }
  #course-inner .enroll h3{
    padding-bottom: 10px;
  }
  #course-inner .enroll p{
    margin: 10px 0;
  }
  #course-inner .enroll p i{
    color: rgb(9, 95, 121);
    font-weight: 700;
    margin-right: 5px;
  }
  /* ------------- Section course end here------------- */
  .footer{
    background:rgb(9, 95, 121);
  }
  .footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .box-container .box{
    margin:1.5rem;
    text-align: center;
    flex:1 1 25rem;
  }
  .footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
  }
  .footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:.7rem 0;
  }
  .footer .box-container .box p i{
    padding-right: .5rem;
    color:black;
  }
  .footer .box-container .box a{
    font-size: 1.8rem;
    display: block;
    padding:.5rem 0;
    color:#eee;
  }
  .footer .box-container .box a:hover{
    text-decoration: underline;
  }
  .footer .credit{
    font-size: 2rem;
    color:#fff;
    background:black;
    text-align: center;
    font-weight: normal;
    padding-bottom: 12px;
  }
  .footer .credit a{
    color:black;
  }
  @media(max-width: 769px)
{
  #course-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8vw 4vw;
  }
  #course-inner .overview{
    width: 100%;
  }
  #course-inner .overview .course-img{
    width: 100%;
    height: 100%;
  }
  #course-inner .enroll{
    margin-top: 25px;
  }
}
@media(max-width: 475px){
  #course-inner .overview .course-head .c-name{
    width: 50%;
  }
  #course-inner .overview .course-head .c-name p{
  font-size: 12px
  }
  #course-inner .overview .course-head .c-name h2{
    font-size: 18px;
  }
  #course-inner .enroll{
    width: 100%;
  }
  #course-inner p{
    font-size: 12px;
    flex-direction: column;
  }
  #course-inner .learn p{
    font-size: 12px;
    padding-bottom: 15px;
  }
}
/*navigation Query*/
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 20px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
     position: relative; 
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  rgb(9, 95, 121);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 15px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}
/* media queries  */
@media (max-width:768px){
html{
    font-size: 55%;
}
@media (max-width:500px){
html{
    font-size: 50%;
}
}
}

